<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aplicación Flask RAG</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <a href="{{ url_for('index') }}" class="logo">RAG App</a>
        <ul class="nav-links">
          <li><a href="{{ url_for('index') }}">Inicio</a></li>
          <li><a href="{{ url_for('upload_file') }}">Subir PDF</a></li>
          <li><a href="#query-section">Consulta</a></li>
          <li><a href="{{ url_for('history') }}">Historial</a></li>
        </ul>
      </div>
    </nav>
    <main>{% block content %} {% endblock %}</main>
    <footer>
      <p>&copy; {{ 2025 }} Aplicación Flask RAG</p>
    </footer>
  </body>
</html>
